{% extends 'base.html'%}

{% block title %}Assignment9{% endblock %}
{% block tohen %}
        <h1>Register</h1>
        {% if session.user_name %}
            <h3>Hey there {{ session.user_name }}</h3>
            <form action="/logout">
                <input type="submit" value="Log out">
            </form>
        {% else %}
            <form action="/assignment9" method="POST">
                Username: <input name="user_name" type="text">
                <br><br>
                Password: <input name="password" type="password">
                <br><br>
                <input type="submit">
            </form>
        {% endif %}

         <h1>User Search</h1>
        <form action="/assignment9" method="GET">
            Username: <input name="user_name" type="text">
            <br><br>
            <input type="submit">
        </form>

        {% if user_name %}
            <h2>User:</h2>
            <p> Username: {{ user_name }} <br>
                email: {{ user_email }}
            </p>
        {% endif %}

        {% if list %}
        <h2>Users:</h2>
            {%  for key, value in list.items() %}
            <li>
                {{ key }}: <b>{{ value.get('user_name') }}</b> ({{ value.get('email') }})
            </li>
            {% endfor %}
        {% endif %}


{% endblock %}
