{% extends 'base.html'%}

{% block title %}Assignment9{% endblock %}
{% block tohen %}

        <h3>Search User</h3>
        <form action="/assignment9" method="GET" >
            <label for="search">Search:</label>
            <input type="text" user_name="searchIn">
            <button type="submit">Submit</button>
        </form>
           {% if search %}
           <h3>Results:</h3>
           {% for index in users %}
               {% if index.user_name == search or index.email == search %}
                   <h3>UserName:{{ index.user_name }} Email: {{ index.email }}</h3>
               {% endif %}
           {% endfor %}
           {% endif %}
           {% if search =='' %}
                <h3>Results:</h3>
                {% for user in users %}
                    <h3>Username:{{ user.user_name}}</h3>
                    <h3>Email:{{ user.email }}</h3>
                {% endfor %}
           {% endif %}


    {% if session.get('logged_in') %}
        <h2>Hello {{ session.get('user_name') }}</h2>
        <form action="/logout" method="GET">
            <button type="submit">Log out</button>
        </form>

    {% else %}
        <h2>Hi guest!</h2>
        <h3>Registration:</h3>
        <form action="/assignment9" method="POST">
            <label for="name">Username:</label>
            <input user_name="user_name" type="text"  required>
            <label for="password">Password:</label>
            <input name="password" type="password" required>
            <button type="submit">Enter</button>
        </form>

    {% endif %}


{% endblock %}